
  $black: #000000;
  $black_03: rgba(255, 255, 255, 0.3);
  $black_02: rgba(196, 196, 196, 0.2);;
  $black_028: rgba(0, 0, 0, 0.28);

  $footer: #1F1F1F;
  $main: #333333;
  $grey: #474747;
  $grey_l: #585858;

  $white: #ffffff;

  $yellow: #ECDF68;
  $yellow_02: rgba(236, 223, 104, 0.2);

  @font-face {
    font-family: "Gilroy";
    src: url('/static/fonts/Gilroy-Regular.ttf') format("truetype");
  }
  @mixin gilroy {
    font-family: "Gilroy" ;
  }

  body{
    margin: 0 auto;
    background-color: $main;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    text-align: center;
  }
  div, label, a{
    display: flex;
    width: 100%;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    text-align: center; 
    text-decoration: none;
    color: $white;
    @include gilroy();
  }
  img{
    user-select: none;
  }
  *::-webkit-scrollbar-thumb{
    background-color: $yellow;
    border-radius: 5px;
    cursor: pointer;
  }
  *::-webkit-scrollbar {
    background-color: $grey_l;
    width: 5px;
  }


  

  .main{
    max-width: 1440px;
    overflow: hidden;
  }

  .pagination{
    z-index: 2;
    height: auto;
    width: auto;
    right: 10px;
    top: 30vh;
    flex-direction: column;
    position: fixed;
    &-line{
      position: absolute;
      top: 0;
      height: 100%;
      max-height: 0;
      width: 2px;
      background-color: $yellow;
      transition: 0.3s;
    }
    &-circle{
      background-color: transparent;
      border: 1px solid $white;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      margin-top: 15px;
      cursor: pointer;
      &:nth-child(2){
        margin-top: unset;
      }
      &.active{
        background-color: $yellow;
        border-color: $yellow;
      }
    }
  }

  .button{
    overflow: visible;
    cursor: pointer;
    &-bg{
      position: absolute;
      top: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
      border: 1px solid $white;
      transform: skewX(-25deg);
      transition: 0.3s;
      overflow: hidden;
      &:after{
        content: "";
        height: 100%;
        width: calc(100% + 2px);
        position: absolute;
        left: -1px;
        max-width: 0;
        background-color: $white;
        transition: 0.3s;
      }
    }
    &-title{
      padding: 20px 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      transition: 0.3s;
    }
    &:hover{
      .button-bg{
        transform: skewX(25deg);
        &:after{
          max-width: 102%;
        }
      }
      .button-title{
        color: $main;
      }
    }
  }

  .more{
    overflow: visible;
    cursor: pointer;
    flex-direction: row-reverse;
    padding-left: calc(18px * 8);
    padding-right: 32px;
    &-bg{
      position: absolute;
      top: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
      left: 0;
      border: 1px solid $white;
      transform: skewX(-25deg);
      transition: 0.3s;
      overflow: hidden;
      z-index: 0;
      &:after{
        content: "";
        height: 100%;
        width: calc(100% + 2px);
        position: absolute;
        left: -1px;
        max-width: 0;
        background-color: $white;
        transition: 0.3s;
      }

    }
    &-name{
      padding: 20px 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      transition: 0.3s;
    }
    &-img{
      z-index: 1;
      margin-top: -90%;
    }
    &:hover{
      .more-bg{
        transform: skewX(25deg);
        &:after{
          max-width: 102%;
        }
      }
      .more-name{
        color: $main;
      }
    }
  }
  .header-main-title{
    margin: 16px;
  }
  .wave{
    flex-direction: row;
    width: auto;
    height: 40px;
    &>div{
      height: 30px;
      width: 30px;
      margin: 0 10px;
      border-top: 3px solid $white;
      border-left: 3px solid $white;
      transform: rotate(45deg) skew(-15deg, -15deg);
      &:nth-child(1){
        // animation: wave-open-1 1.5s ease-in-out 1;
        margin: 0 20px 0 0;
        // animation-delay: 1s;
      }
      &:nth-child(2){
        // animation: wave-open-2 0.75s ease-in-out 1;
        margin: 0 10px 0 0;
      }
      &:nth-child(3){
        // animation: wave-open-3 0.75s ease-in-out 1;
        margin: 0 0 0 10px;
      }
      &:nth-child(4){
        // animation: wave-open-4 1.5s ease-in-out 1;
        margin: 0 0 0 20px;
        // animation-delay: 1s;
      }
    }
  }

  .slider{
    width: 476px;
    height: 500px;
    overflow: visible;
    z-index: 1;
    &-slide{
      width: 476px;
      height: 437px;
      padding: 67px 24px 67px 40px;
      left: 0;
      position: absolute;
      background-color: $main;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.26);
      border-radius: 2px;
      transition: 0.3s;
      justify-content: space-between;
      z-index: 4;
      &.__left-1{
        left: -30%;
        transform: scale(0.9);
        z-index: 3;
        cursor: pointer;
        .slider-slide-author{
          opacity: 0.5;
          user-select: none;
        }
        .slider-slide-text>div{
          overflow: hidden;
          opacity: 0.4;
          user-select: none;
        }
        .slider-slide-text>img{
          opacity: 0
        }
      }
      &.__right-1{
        left: 30%;
        transform: scale(0.9);
        z-index: 3;
        cursor: pointer;
        .slider-slide-author{
          opacity: 0.5;
          user-select: none;
        }
        .slider-slide-text>div{
          overflow: hidden;
          opacity: 0.4;
          user-select: none;
        }
        .slider-slide-text>img{
          opacity: 0
        }
      }
      &.__right-2{
        left: 50%;
        transform: scale(0.8);
        z-index: 2;
        cursor: pointer;
        .slider-slide-author{
          opacity: 0.3;
          user-select: none;
        }
        .slider-slide-text>div{
          overflow: hidden;
          opacity: 0.2;
          user-select: none;
        }
        .slider-slide-text>img{
          opacity: 0
        }
      }
      &.__right-3{
        left: 70%;
        transform: scale(0.7);
        z-index: 1;
        cursor: pointer;
        .slider-slide-author{
          opacity: 0.2;
          user-select: none;
        }
        .slider-slide-text>div{
          overflow: hidden;
          opacity: 0.1;
          user-select: none;
        }
        .slider-slide-text>img{
          opacity: 0
        }
      }
      &.__behind{
        opacity: 0;
        transform: scale(0);
        z-index: 0;
        cursor: pointer;
        .slider-slide-text>img{
          opacity: 0
        }
      }
      &-text{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        height: calc(100% - 120px);
        margin-bottom: 57px;
        &>div{
          justify-content: flex-start;
          text-align: left;
          word-break: break-word;
          overflow: auto;
        }
        &>img{
          position: absolute;
          right: 0; 
          height: 30px;
          top: -57px;
          transition: 0.3s;
          &:first-child{
            top: calc(100% + 27px);
            right: 95%;
            transform: rotate(180deg);
          }
        }
      }
      &-author{
        flex-direction: row;
        height: 120px;
        padding: 10px 0;
        &-ava{
          border-radius: 50%;
          min-height: 100px;
          max-height: 100px;
          min-width: 100px;
          max-width: 100px;
          background-color: $black;
          &>img{
            height: 100%;
            width: 100%;
            display: none;
          }
        }
        &-info{
          margin-left: 32px;
          &-name{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          }
          &-about{
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
    &-buttons{
      width: 175px;
      height: 40px;
      margin-top: 525px;
      flex-direction: row;
      justify-content: space-between;
      &-button:first-child:hover{
        .slider-buttons-button-bg{
          left: -10px;
        }
        .slider-buttons-button-side{
          margin-left: -10px;
        }
      }
      &-button{
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover{
          .slider-buttons-button-bg{
            left: 10px;
          }
          .slider-buttons-button-side{
            margin-left: 10px;
          }
        }
        &:first-child{
          .slider-buttons-button-bg{
            &:after{
              left: -15px;
              right: unset;
              border-right: 15px solid $yellow_02;
              border-left: unset;
            }
            &:before{
              border-left: unset;
              left: calc(100% - 15px);
              right: unset;
              border-right: 15px solid $main;
            }
          }
          .slider-buttons-button-side{
            transform: rotate(-45deg);
          }
        }
        &-bg{
          position: absolute;
          background-color: $yellow_02;
          height: 100%;
          left: 0;
          transition: 0.3s;
          &:after, &:before{
            content: "";
            position: absolute;
            z-index: 1;
            background-color: transparent;
            right: -15px;
            border-left: 15px solid $yellow_02;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
          }
          &:before{
            right: calc(100% - 15px);
            border-left-color: $main;
          }
        }
        &-side{
          height: 25px;
          width: 25px;
          margin-top: -25px;
          transform: rotate(135deg);
          transition: 0.3s;
          border-top: 2px solid $yellow;
          border-left: 2px solid $yellow;
          
        }
      }
    }
  }

  .form{
    flex-direction: row;
    justify-content: space-between;
    margin: 156px 0;
    padding: 0 24px;
    &-bg{
      position: absolute;
      right: 0;
      width: 70%;
      height: 150%;
      background-color: $black_028;
      z-index: 0;
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: -5vw;
        border-right: 5vw solid $black_028;
        border-bottom: 17.5vw solid transparent;
        z-index: 0;
      }
      &:before{
        content: "";
        position: absolute;
        top: -40px;
        left: -5vw;
        width: 150%;
        height: 50px;
        transform: rotate(-2deg);
        background-color: $main;
        z-index: 1;
      }
    }
    &-title{
      font-weight: 800;
      font-size: 60px;
      line-height: 74px;
      text-align: left;
      color: transparent;
      -webkit-text-stroke: 1px $white;
      width: 60%;
    }
    &-arrow{
      position: absolute;
      width: 40%;
      height: 2px;
      background-color: $grey_l;
      bottom: -58px;
      left: 24px;
      &:after{
        content: "";
        position: absolute;
        right: 4px;
        height: 30px;
        width: 30px;
        border-top: 2px solid $grey_l;
        border-left: 2px solid $grey_l;
        transform: rotate(135deg);
      }
    }
    &-content{
      width: 40%;

      &-bg{
        position: absolute;
      }
      &-input{
        width: auto;
        margin-bottom: 10px;
        &>div{
          position: absolute;
          top: 8px;
          left: 2px;
          width: auto;
          color: $main;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          transition: 0.3s;
        }
        &>input{
          color: $main;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $main;
          outline: none;
          padding: 8px 2px;
        }
        &.active{

          &>div{
            top: -8px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
          } 
        }
      }
      &-button{
        width: 60%;
        position: absolute;
        bottom: calc(-100% - 40px);
      }
    }
  }
      


@media screen and (max-width: 668px){
  .pagination{
    display: none;
  }
  .more{
    width: 90% !important;
    padding-left: unset;
    justify-content: flex-start;
    &-img{
      position: absolute;
      bottom: -50px;
      left: 25%;
      width: 50%;
      height: 400px;
    }
    &-name{
      width: auto;
      font-size: 15px;
      line-height: 18px;
    }
  }
  .form{
    flex-direction: column;
    transform: unset !important;
    align-items: flex-start;
    &-bg{
      transform: rotate(-3deg);
      width: 80%;
      height: 80%;
      top: -30%;
    }
    &-title{
      width: 85%;
      font-size: 30px;
      line-height: 37px;
    }
    &-arrow{
      display: none;
    }
    &-content{
      width: 100%;
      margin-top: 20%;
      &-bg{
        width: 100%;
      }
      &-input{
        width: 70%;
        &>div{
        }
        &>input{
          width: 100%;
        }
        &.active{

          &>div{
          } 
        }
      }
      &-button{
        // bottom: 5%;
        width: 90%;
      }
    }
  }
}

@keyframes wave-open-1{
  0%{width: 0; height: 0; border: unset; margin: 0} 
  50%{width: 0; height: 0; border: unset; margin: 0} 
  51%{ border-top: 3px solid $white; border-left: 3px solid $white} 
  75%{width: 30px; height: 0;} 
  100%{width: 30px; height: 30px;} 
}
@keyframes wave-open-2{
  0%{width: 0; height: 0; margin: 0} 
  50%{width: 30px; height: 0} 
  100%{width: 30px; height: 30px; margin: 0 10px 0 0} 
}
@keyframes wave-open-3{
  0%{width: 0; height: 0; margin: 0} 
  50%{width: 0; height: 30px} 
  100%{width: 30px; height: 30px; margin: 0 0 0 10px} 
}
@keyframes wave-open-4{
  0%{width: 0; height: 0; border: unset; margin: 0} 
  50%{width: 0; height: 0; border: unset; margin: 0} 
  51%{ border-top: 3px solid $white; border-left: 3px solid $white} 
  75%{width: 0; height: 30px} 
  100%{width: 30px; height: 30px;} 
}